<!DOCTYPE html>
<html lang="en">

<head>
  <% include navi/head %>
</head>

<body>
  <% include navi/header %>

  <div class="container">
    <form>
      <div class="form-group">
        <label for="id">id</label>
        <input type="text" class="form-control" id="id" placeholder="id를 입력하세요"><br />

        <label for="password">password</label>
        <input type="password" class="form-control" id="password" placeholder="password를 입력하세요"><br />
      </div>
      <button type="button" class="btn btn-outline-info" id="login">로그인</button>
      <button type="button" class="btn btn-outline-dark" id="create">계정생성</button>
    </form>
  </div>

  <script>
    $('#login').click(function () {
      $.ajax({
        url: 'http://localhost:3000/login_process',
        dataType: 'json',
        type: 'POST',
        data: {
          'id': $('#id').val(),
          'password': $('#password').val()
        },
        success: function (result, body, { status }) {
          if (status === 200) {
            alert('아이디 또는 비밀번호가 일치하지 않습니다.')
          } else if (status === 202) {
            alert('로그인 성공')
            window.location.href = 'http://localhost:3000/main'
          }
        }
      });
    })

    $('#create').click(function () {
      window.location.href = 'http://localhost:3000/create'
    }) 
  </script>
</body>

</html>