<!doctype html>
<html>

<head>
    <% include navi/head %>
</head>

<body>
    <% include navi/header %>

    <div class="container">
        <div class="dropdown">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Wallet Info</h1>
            </div>

            <form>
                <div class="form-group">
                    <label for="privatekey">To</label>
                    <input type="text" class="form-control" id="toAddress" placeholder="받는 계정"><br />

                    <label for="privatekey">Value</label>
                    <input type="text" class="form-control" id="value" placeholder="수량"><br />

                    <label for="privatekey">Gas Price</label>
                    <input type="text" class="form-control" id="gasPrice" placeholder="수수료"><br />

                </div>
                <button type="button" class="btn btn-outline-info" id="send">전송</button>
                <button type="button" class="btn btn-outline-dark" id="cancel">취소</button>
            </form>
        </div>
    </div>

    <script>
        $('#send').click(function () {
            $.ajax({
                url: 'http://localhost:3000/send/send_process',
                dataType: 'json',
                type: 'POST',
                data: {
                    'toAddress': $('#toAddress').val(),
                    'value': $('#value').val(),
                    'gasPrice': $('#gasPrice').val()
                },
                success: function (result, body, { status }) {
                    if (status === 200) {
                        alert('보내기 실패!')
                    } else if (status === 201) {
                        alert('형식이 올바르지 않습니다.')
                    } else if (status === 203) {
                        alert('잔액이 부족합니다.')
                    } else if (status === 202) {
                        alert('보내기 성공!')
                        window.location.href = 'http://localhost:3000/main'
                    }
                }
            });
        })

        $('#cancel').click(function () {
            window.location.href = 'http://localhost:3000/main'
        }) 
    </script>

</body>

</html>