html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7c7c7c !important;

}

.container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 400px;
    background: #F6D9D5;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 140px;
    border-bottom: 2px solid #C0392B;

}

h3 {
    position: absolute;
    display: flex;
    top: -30px;
    height: 60px;
    width: 250px;
    background-color: #C0392B;
    color: white;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-family: 'Fredoka One', cursive;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 320px;


}

main {
    padding: 20px;
    padding-top: 40px;
}

.input-group-text {
background: #c0392b;
color: white;
border: 0;
border-radius: 0.25rem 0 0 0.25rem;
}

.input_user,
.input_pass:focus {
box-shadow: none;
outline: 0px;
}

.login_btn {
width: 120px;
background: #c0392b;
color: white ;
margin: 10px;
}
.txhash {
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 290px;
    color: #7C7C7C;
}
.public_key {
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100px;
    color: #7C7C7C;
}
